<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <title>Quoted - Get a random quote mapped to a inspiring image</title>
    <meta name="description" content="Quoty is a simple web application allowing to browse random quotes mapped to inspiring images." />
  </head>
  <body>
    HELLO
  </body>
</html>
